[submodule "dep/pam-rs"]
	path = dep/pam-rs
	url = https://github.com/jeremie-H/pam-rs.git
[submodule "dep/ssh-agent.rs"]
	path = dep/ssh-agent.rs
	url = https://github.com/jeremie-H/ssh-agent.rs.git
